body {
  margin:10px;
}
h1 {
  margin: 20px;
  text-align: center;
}
table {
  height: 400px;
  float: left;
  /*border-collapse: collapse;*/
  border: 2px solid black;
}
th, td {
  border: 1px solid black;
  padding: 3px;
}
table.regex-testing {
  border: 0;
}
table.regex-testing th,
table.regex-testing td {
  border: 0;
  padding: 6px;
}
#output {
  padding: 20px 50px;
}
#replacement-textarea {
  height: 150px;
}
textarea {
  width: 100%;
}
button {
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 5px 10px;
}
